@import '../../../style/includes';

.flash {
  padding: 20px 30px;
  box-shadow: $shadow;
  background: $white;
  border-radius: $border-radius;
  position: relative;
  margin-bottom: 20px;

  &-danger {
    background-color: lighten($error-color, 20%);
    color: $white;
  }

  &__close {
    position: absolute;
    right: 5px;
    top: 5px;
    border: none;
    outline: none;
    background: none;
    //color: ;
    &:hover {
      cursor: pointer;
    }
  }
}
