@import '../../../style/includes';

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  &__button {
    margin-inline: 2.5px;
    font-size: 0.75rem;
    color: $text-color;
    border: none;
    outline: none;
    min-width: 22px;
    min-height: 22px;
    padding: 3px 6px;
    background: none;
    border-radius: $border-radius;
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(&-active):hover {
      cursor: pointer;
      background: lighten($info-color, 20%);
    }

    &:disabled {
      background-color: lighten($text-color-secondary, 70%);
      cursor: default;

      &:hover {
        background-color: lighten($text-color-secondary, 70%);
        cursor: default;
      }
    }

    &-active {
      background: $info-color;
      color: $white;
    }
  }

  &__right-arrow {
    transform: scale(-1);
  }
}
